/**
 * Layout styles
 */

// hide unloaded app parts
*[ng-cloak] {
  display: none;
}

body, input, textarea {
  font-family: 'GE Inspira', '.SFNSDisplay-Regular', 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  font-weight: bold !important;
}

a .md-button {
  color: gray;
}
