.screen.main {

  .titleCell {
    padding: 10px;
    height: 50px;
    display: block;
    outline: none;

    &.ccLogo {
      background-image: url('/images/ge.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center left;

      @include screen_xs {
        background-position: center center;
      }
    }

    &.extraInfo {
      text-align: right;

      @include screen_xs {
        text-align: center;
        font-size: 0.9em;
      }
    }

  }

  .card.athlete {

    @mixin teamLabel($c) {
      color: darken($c, 35%);
      background: $c;
      background: linear-gradient(to bottom, lighten($c, 10%) 0%, $c 100%);
      padding: 2px 7px 2px 7px;
      display: inline-block;
      border-radius: 5px;
      text-align: center;
      line-height: 1.25em;
      margin-right: 15px;
    }

    &.teamHarelKodesh {
      .team {
        @include teamLabel($teamHarelKodeshColor);
      }
    }

    .userpic {
      border-radius: 2px;
    }

  }

  .card.team {

    .team {
      font-size: 2em;
    }


    &.teamHarelKodesh {
      md-card {
        background: lighten($teamHarelKodeshColor, 15%);
        background: linear-gradient(to bottom, lighten($teamHarelKodeshColor, 25%) 0%, lighten($teamHarelKodeshColor, 15%) 100%);
        color: darken($teamHarelKodeshColor, 55%);
      }
    }
  }

}
