<div flex="100" layout-wrap layout="row">

  <div flex-xs="100" flex-lg="25" flex-md="33" flex-sm="50" flex-xl="20" ng-repeat="(i, a) in athletesTop" class="card athlete" ng-class='"team" + (a.athlete.team | classify)'>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ a.miles | number:1 }} mi</span>
          <span class="md-subhead">{{ a.athlete.name | name }}</span>
          <span class="md-subhead">#{{ i + 1 }}</span><br>
          <span class="md-subhead" ng-if="a.athlete.team"><span class="team">Team: {{ a.athlete.team }}</span></span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <a href="https://www.strava.com/athletes/{{ a.athlete.id }}" target="_blank">
              <img class="userpic" ng-src="{{ a.athlete.pic | largePic }}">
            </a>
          </div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </div>

</div>
